.idea/
*.jar
*.lst
*.class
*.iml
ecommerce-webflux-boot/target/
ecommerce-webflux-infrastructure/target/
ecommerce-webflux-api-rest/target/
ecommerce-webflux-clients-rest/target/
ecommerce-webflux-application/target/
ecommerce-webflux-domain/target/
